# Cmake
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# KDevelop
.kdev4/
*.kdev4
*~

# QtCreator
CMakeLists.txt.user

# VS Code
.vscode/

# Build
build/

# Python
*.pyc

# Needed just once
data/config
